In [4]:
import pandas as pd
import numpy as np

In [29]:
df1 = pd.read_csv('results_cosine_similarity/counts_ASU_ngram.csv')
#print(df1.head)
df2 = pd.read_csv('results_cosine_similarity/count_sales_lf_ngrams.csv')

common_cols = df1.columns & df2.columns
common_cols = list(common_cols)
df3 = df2[common_cols]

In [30]:
sales_arr = df2.to_numpy()
common_arr = df3.to_numpy()

In [31]:
print(sales_arr.shape, common_arr.shape)

(2601, 19584) (2601, 176)

In [32]:
common_sum = np.sum(common_arr, axis = 1)
common_sum.shape

(2601,)

In [33]:
asu_ratio = common_arr/common_sum.reshape((common_sum.shape[0], 1))

<ipython-input-33-0d24ac013cbe>:1: RuntimeWarning: invalid value encountered in true_divide
  asu_ratio = common_arr/common_sum.reshape((common_sum.shape[0], 1))

In [34]:
asu_ratio.shape

(2601, 176)

In [35]:
my_df = pd.DataFrame(asu_ratio)
my_df.to_csv('asu_ratio_ngrams.csv', index=False, header = common_cols)
my_df.head()

,0,1,2,3,4,5,6,7,8,9,...,166,167,168,169,170,171,172,173,174,175
0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.066667,0.0
1,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
2,0.0,0.033333,0.100000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.033333,0.0
3,0.0,0.000000,0.009901,0.009901,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.019802,0.009901,0.0
4,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0

In [ ]:
all_indexes = []
for wrd in commom_cols:
    all_indexes.append

In [ ]:
for i in range(temp_arr.shape[0]):
    for k in range(len(common_cols)):
        ind = sales_col.index(common_cols[k])
    for j in range(temp_arr.shape[1]):
        for